<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ラベル付け機</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    
    <style>
        .container {
            padding-top: 20px;
        }
        #stateList {
            /* こいつが重要 */
            overflow:auto;
            height:250px;
            line-height:1.5;
            padding:10px 0;
        }
        .align-right {
            text-align: right;
        }
        .align-left {
            float: left;
        }
    </style>
    
</head>
<body>
     <!-- ナビゲーションバー -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand h1">{{myid}}さん　今何してる？ </span>
    </nav>
    <div class="container">
        <h5>感情</h5>
        <div class="form-group"> 
            <select class="form-control" id="emotionSelect">
                <option value="excite">わくわく😀</option>
                <option value="happiness">幸せ😊</option>
                <option value="relax">リラックス🙂</option>
                <option value="anger">怒り😡</option>
                <option value="fear">恐れ😱</option>
                <option value="sadness">悲しみ😭</option>
                <option value="boring">退屈😦</option>
                <option value="neutral">中立😐</option>
            </select>
        </div>

        <div>
            <p class="align-left">不快</p>
            <p class="align-right">快</p>
            <input type="range" class="form-control-range" id="range_valence" min="1" max="9" step="1" list="tlist">
        </div>
        <div>
            <p class="align-left">眠気</p>
            <p class="align-right">覚醒</p>
            <input type="range" class="form-control-range" id="range_arousal" min="1" max="9" step="1" list="tlist">
        </div>
        <datalist id="tlist">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
            <option value="8"></option>
            <option value="9"></option>
        </datalist>
        
        <div class="form-group">
            <input type="text" name="memo" id="memo" placeholder="メモ" class="form-control">
        </div>

        <h5>　</h5>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="button_save">セーブ</button>
            <button type="button" class="btn btn-success" id="button_upload">アップロード</button>
            <button type="button" class="btn btn-danger" id="button_delete">全て削除</button>
        </div>
        <a id="save_count">0個のデータを保存中</a>
        <ul id="stateList"></ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(function(){ 
            updateSaveCount();
            $("#button_upload").on('click', function(){
                var data = localStorage.getItem("label");
                if(data) {
                    $.ajax({
                    type: 'post',
                    url: 'http://' + location.hostname + ":5000/post",
                    contentType: 'application/json',
                    datatType: 'json',
                    data: data,
                    timeout: 10000,
                    success: function(data) {
                        localStorage.clear();
                        updateSaveCount(0);
                    },
                    error: function(data) {
                        alert("アップロードに失敗しました");
                    }
                    })
                }
            });
            
            $('#button_save').on('click', function () {
                var datalist = JSON.parse(localStorage.getItem("label"));
                if(!datalist) {
                    datalist = [];
                } 
                datalist.push({
                    id: '{{myid}}',
                    time: Math.floor(Date.now()/1000),
                    memo: $('#memo').val(),
                    emotion: $('#emotionSelect').val(),
                    arousal: $('#range_arousal').val(),
                    valence: $('#range_valence').val()
                });
                updateSaveCount(datalist.length)
                localStorage.setItem("label", JSON.stringify(datalist));
            });
            $('#button_delete').on('click', function () {
                if(confirm('本当に削除しますか？')){
                    localStorage.removeItem("label");
                    updateSaveCount();
                }
            });
            function updateSaveCount(num) {
                var msg = "";
                if(num) {
                    msg = num + '個を保存中';
                    
                } else {
                    var datalist = JSON.parse(localStorage.getItem("label"));
                    if(datalist) {
                        msg =  datalist.length + '個を保存中';
                    } else {
                        msg = '0個を保存中'
                    }
                }
                $('#save_count').text(msg);
            }
           
        })
    </script>

</body>
</html>