<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $(function(){ 
            $("form").submit(function(){
                console.log("fasf");
                if($.trim($("#id").val()) !== "") {
                    return true;
                } else {
                    alert("idを入力してください");
                    return false;
                }
            });
        })
    </script>
</head>
<body>
    <div class="container" style="padding-top:30px">
        <h3>ラベル付け機</h3>
        <form method="get" action="{{ url_for('boot') }}">
            <div class="form-group">
                <input type="text" name="id" id="id" placeholder="ID" class="form-control">            
            </div>
            
            <button type="submit" class="btn btn-primary">ログイン</button>
        </form>
    </div>
    
    

</body>
</html>